* {
  transition: all 0.5s ease;
  box-sizing: border-box;
}
html {
  font-family: 'Source Code Pro', monospace;
}
body {
  $activeColor: #FFBCA2 !global;
  min-width: 360px;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
}
#root {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/img/back.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

#content {
  height: 100%;
  width: 100%;
  
}
.button {
  color: white;
  background-color: transparent;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  border: 2px solid white;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  &:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  &:active {
    background-color: $activeColor;
    color: black;
  }
}
.btn {
  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
  &:active{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(166deg) brightness(103%) contrast(50%);
  }
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  transition:
    opacity 0.5s ease-out,
    width 0.5s ease 0.5s,
    height 0.5s ease 0.5s;
  // display: none;
}

.active {
  color: $activeColor;
}


@media (min-width: 768px) {
  #root {
    width: 70vw;
    margin: 0 auto;
    background-size: 70% auto;
  }
} 
@media screen and (min-width: 520px) and (max-width: 767px) {
  #root {
    width: 70vw;
    margin: 0 auto;
    background-size: 70% auto;
  }
}